# GROBI - Development Dependencies

# Testing Framework
pytest>=9.0.3
pytest-qt>=4.5.0
pytest-cov>=7.1.0
pytest-timeout>=2.4.0

# HTTP Mocking for Tests
responses>=0.26.1

# Code Quality
flake8>=7.3.0
black>=26.5.1
